/*动画方法*/

@mixin labelDom($align,$width,$line-height:"normal"){

  label {
    float: left;
    line-height: $line-height + px;
    width: $width + px;
    text-align: $align;
  }
  .wrap-content {
    margin-left: $width + px;
  }

}